{% extends 'base.html.twig' %}

{% block title %}Página de inicio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/init.css') }}">
{% endblock %}
    {% block content %}
    <!-- Contenido de la página de inicio con estilos en línea -->
    <div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>/var/www/symfony_docker/src/Controller/InitController.php</code>
				</li>
				<li>Your template at
					<code>/var/www/symfony_docker/templates/init/index.html.twig</code>
				</li>
			</ul>
		</div>
    {% endblock %}
