/* body {
  background-color: #ab47bc;
} */

:root {
  --offcanvas-width: 210px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link{
  display: flex;
  align-items:center;
}

.sidebar-link .right-icon{
  display: inline-flex;
  transition: all ease 0.25;
}

.sidebar-link[aria-expanded = "true"] .right-icon {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before ´ {
    display: none;
  }

  
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }
}
